.main{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    background-color: aqua;
   
}
.main3{
    gap: 30%;
    color: black;
    
}
.vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
background-color: rgb(36, 205, 218);
    width: 150px;
    
}
.main4{
    row-gap: 40px;
    margin-top: 100%;
}
.main5{
    margin-bottom: 150%;
}